<html>
  <head>
    <title>Contact Ella</title>
  </head>
  <body>
      <form class="row" action="/thanks" method="POST">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="firstName" name="firstName" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        <textarea class="form-control" id="comment" name="comment" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn pull-right" type="submit">Send</button>
          </div>
        </div>
      </form>
  </body>
</html>