<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ella's Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">Ella Marie</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#about">ABOUT</a>
          </li>
          <li>
            <a href="#portfolio">PORTFOLIO</a>
          </li>
          <li>
            <a href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="cover">
    <div class="jumbotron text-center" id="jumbo">
      <h1>Ella Marie;</h1>
      <p>Junior Web Developer || Research Assistant</p>
    </div>
  </div>
  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div id="aboutMe">
          <h2>About Me</h2>
          <br>
          <h4>A student at Origin Code Academy, and a Research Assistant at Sanford Burnham Prebys(SBP) Medical Discovery Institute.</h4>
          <p>Born in the Philippines, and moved to America when I was thirteen. I graduated from University of California, San
            Diego with Biochemistry and Cell Biology B.S. During my undergraduate career, I was involved with Kaibigang Pilipino,
            Student Promoted Access Center for Education and Service(SPACES), Habitat for Humanity, and Sanford Burnham Medical
            Research Institute. Post-undergraduate, I began working as a Research Assistant in SBP, where I became more meticulous, 
            analytic, and curious. With this career, not only did I learned how to be a team player, but also become
            an independent learner.
          </p>
          <p>I have always been interested in coding, and was able to learn through several online resources. After a year
            of using online websites, I have decided to invest in myself and enroll with Origin Code Academy(OCA).
            I will forever be grateful for Origin for helping me hone my skills and for embracing my passion.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="aboutMe">
          <h2>My Interests</h2>
          <img id="slide" src="https://drive.google.com/uc?id=1JW8ekclW2ZSl496p1eiNIbWLclCZ7eex" alt="Profile Pic" height="400" width="320">
        </div>
      </div>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div id="portfolio" class="container-fluid text-center bg-grey">
    <div id="portName">
      <h2>Portfolio</h2>
      <br>
      <h4>What I have created</h4>
    </div>
    <div class="row text-center">
      <div class="col-sm-4">
        <a href="https://et-change-calculator.herokuapp.com/" target="_blank">
          <div class="thumbnail">
            <img src="https://drive.google.com/uc?id=14L6iUkDdZFIKkpw17sQ3XcAN6WQUjtsL" alt="Change Calculator" width="500" height="300">
            <p>
              <strong>Change Calculator</strong>
            </p>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="https://et-vstda.herokuapp.com/" target="_blank">
          <div class="thumbnail">
            <img src="https://drive.google.com/uc?id=1dfofRmF7bR42bpWieB4pYz8aAyisqc7T" alt="Very Simple ToDo App" width="450" height="300">
            <p>
              <strong>Very Simple ToDo App</strong>
            </p>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://et-top-spots.herokuapp.com/" target="_blank">
          <img src="https://drive.google.com/uc?id=17Dce8TpMMxO_epPSLsL91_CeomCG2Egu" alt="Hackathon" width="400" height="300">
          <p>
            <strong>Hackathon</strong>
          </p></a>
        </div>
      </div>
    </div>
    <br>
  </div>
  </div>

  <div id="contact" class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center">
      <em>"Call me, beep me, if you want to reach me!"</em>
    </p>

    <div class="row">
      <div class="col-md-4">
        <p>Need a job done?</p>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>California, US</p>
        <p>
          <span class="glyphicon glyphicon-phone"></span>Phone: +1 (510)219-4254</p>
        <p>
          <span class="glyphicon glyphicon-envelope"></span>Email: ellatolentino@mail.com</p>
        <p style="margin-top: 0%">
          <a href="https://www.linkedin.com/in/ellatolentino/" target="_blank">
            <i class="fa fa-linkedin fa-lg" id="linkedIcon" aria-hidden="true"></i> LinkedIn</a>
        </p>
        <p style="margin-top: 0%">
          <a href="https://github.com/ellamarie005" target="_blank">
            <i class="fa fa-github fa-lg" id="githubIcon" aria-hidden="true"></i> GitHub</a>
        </p>
      </div>
      <div class="col-md-8">
        <form class="row" action="/thanks" method="POST">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="firstName" name="firstName" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
          <textarea class="form-control" id="comment" name="comment" placeholder="Comment" rows="5"></textarea>
          <br>
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn pull-right" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
      <footer class="container-fluid text-center">
        <div class="col-md-12" style="margin-top: 20px">
          <a href="#cover" class="btn btn-default">Back to the Top</a>
          <a href="#about" class="btn btn-default">About Me</a>
          <a href="#portfolio" class="btn btn-default">Portfolio</a>
        </div>
        <p style="margin-bottom:-10%">Copyright Ella Marie 2017. All Rights Reserved</p>
      </footer>
</body>

</html>